<header id="header" class="row" data-hook>
	<div class="header-top">
		<div class="container">
			<div class="phone">
				<p>Call us:</p>
				<a href="tel:0035314361847">+353 1 4361847</a>
			</div>
			<div class="recursives">
				<%= render :partial => 'spree/shared/nav_bar' %>
			</div>
		</div><!--.container-->
	</div><!--.header-top-->

	<div class="header-bottom">
		<div class="container">
			<figure id="logo" class="columns six" data-hook><%= logo %></figure>
			<div id="search-bar">
				<%= render :partial => 'spree/shared/search' %>
			</div>
			<div id="link-to-cart" data-hook>
				<noscript>
					<%= link_to Spree.t(:cart), '/cart' %>
				</noscript>
				  &nbsp;
			</div>    
			<script>Spree.fetch_cart()</script>
			<div id="main-menu">				
				<%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
			</div><!--#main-menu-->
		</div><!--.container-->
	</div><!--.header-bottom-->
</header>