<div class="banner">
    <h1>Banner ubuntu</h1>
    <div class="pogoSlider" id="js-main-slider">      
        <ul>
            <li>
                <a href="/" class="pogoSlider-slide">
                    <img class="pogoSlider-slide-element" width="100%" src="/assets/slider1.jpg" alt="Slider2">
                </a>
            </li>
            <li>
                <a href="/" class="pogoSlider-slide">
                    <img class="pogoSlider-slide-element" width="100%" src="/assets/slider2.jpg" alt="Slider2">
                </a>
            </li>
            <li>
                <a href="/" class="pogoSlider-slide">
                    <img class="pogoSlider-slide-element" width="100%" src="/assets/slider3.jpg" alt="Slider2">
                </a>
            </li>
        </ul>
        <script src="/assets/jquery.pogo-slider.min.js"></script>
    </div>
</div>

<div class="main-content">
    <div id="tabs">
        <div class="container">
            <ul>
                <li>
                    <h3>
                        <a href="#special_sale">Sale Items</a>
                    </h3>
                </li>
                <li>
                    <h3>
                        <a href="#featured">Featured Products</a>
                    </h3>
                </li>
                <li>
                    <h3>
                        <a href="#latest">Latest Products</a>
                    </h3>
                </li>
            </ul>
        </div><!--.container-->

        <div id="special_sale" class="clearfix">
            <div class="container">
                <div id="slideFW">
                    <div id="fwslider">
                        <div class="slider_container">
                            <div class="slide">
                                <% @products.where(special: true).each do |e| %>
                                    <div class="product">
                                        <div class="home_images">
                                            <%= link_to image_tag('http://www.op-insight.co.uk/images/product/large/' + e.image_name + '.jpg'), e %>
                                        </div>
                                        <div class="product-desc">
                                            <%= link_to e.short_description, e, class: 'threex3' %>
                                        </div>
                                        <div class="product-price">
                                            €<%= e.price %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="timers"></div>
                        <div class="slidePrev"><span></span></div>
                        <div class="slideNext"><span></span></div>
                    </div>
                </div>
            </div><!--.container-->
        </div><!--#special_sale-->

        <div id="featured" class="clearfix">
            <div class="container">
                <div id="slideFW">
                    <div id="fwslider">
                        <div class="slider_container">
                            <div class="slide">
                                <% @products.where(featured: true).each do |e| %>
                                    <div class="product">
                                        <div class="home_images">
                                            <%= link_to image_tag('http://www.op-insight.co.uk/images/product/large/' + e.image_name + '.jpg'), e %>
                                        </div>
                                        <div class="product-desc">
                                            <%= link_to e.short_description, e, class: 'threex3' %>
                                        </div>
                                        <div class="product-price">
                                            €<%= e.price %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="timers"></div>
                        <div class="slidePrev"><span></span></div>
                        <div class="slideNext"><span></span></div>
                    </div>
                </div>
            </div>
        </div><!--#featured-->

        <div id="latest" class="clearfix">
            <div class="container">
                <div id="slideFW">
                    <div id="fwslider">
                        <div class="slider_container">
                            <div class="slide"> 
                                <% @products.where(latest: true).each do |e| %>
                                    <div class="product">
                                        <div class="home_images">
                                            <%= link_to image_tag('http://www.op-insight.co.uk/images/product/large/' + e.image_name + '.jpg'), e %>
                                        </div>
                                        <div class="product-desc">
                                            <%= link_to e.short_description, e, class: 'threex3' %>
                                        </div>
                                        <div class="product-price">
                                            €<%= e.price %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="timers"></div>
                        <div class="slidePrev"><span></span></div>
                        <div class="slideNext"><span></span></div>
                    </div>
                </div>
            </div>
        </div><!--#latest-->

    </div><!--#tabs-->
</div><!--main-content-->